
.subTop {
  width: 100%;
  padding-top: 90px;
  z-index: 0;
}
.subTop > div {
  position: relative;
  height: 250px;
  background: #ccc;
}
.subTop > div > div {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.subTop > div > div p {
  font-family: "Giants-Regular";
  color: #fff;
  letter-spacing: -0.03rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.subTop > div > div p.subTitle {
  font-size: 45px;
}
.subTop > div > div p.subText {
  font-size: 20px;
}

.subTop > div.img1 {
  background: url(../images/subTop-img1.png) no-repeat center top;
  background-size: cover;
}
.subTop > div.img2 {
  background: url(../images/subTop-img2.png) no-repeat center top;
  background-size: cover;
}
.subTop > div.img3 {
  background: url(../images/subTop-img3.png) no-repeat center top;
  background-size: cover;
}
.subTop > div.img4 {
  background: url(../images/subTop-img4.png) no-repeat center top;
  background-size: cover;
}
.subTop > div.img5 {
  background: url(../images/subTop-img5.png) no-repeat center top;
  background-size: cover;
}
.subTop > div.img6 {
  background: url(../images/subTop-img6.png) no-repeat center top;
  background-size: cover;
}

.wrapper {
  position: relative;
  width: 1200px;
  background-color: #fff;
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: -40px;
  z-index: 10;
}

.secMenu {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #2562e9;
}
.secMenu > ul {
  display: flex;
  justify-content: space-between;
}
.secMenu > ul > li {
  border-right: 1px solid #ddd;
  flex: 1;
}
.secMenu > ul > li:last-child {
  border-right: none;
}
.secMenu > ul > li > a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  height: 80px;
  background-color: #fff;
  transition: 0.3s;
}
.secMenu > ul > li > a:hover {
  color: #2562e9;
  background-color: #f9f9f9;
}
.secMenu > ul > li.on > a {
  background-color: #2562e9;
  color: #fff;
}
.secMenu > ul > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  margin-top: 30px;
}

.pageTitle {
  font-size: 30px;
  color: #2562e9;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-top: 30px;
}

.secTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 22px;
  margin-bottom: 20px;
}
.secTitle .smBox {
  font-size: 15px;
}
.summText {
  text-align: right;
  padding: 10px 0 10px 10px;
}

.tab ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}
.tab ul li {
  flex: 1;
  text-align: center;
}
.tab ul li > a {
  display: block;
  font-size: 17px;
  font-weight: 600;
  line-height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #d0d4da;
  border-radius: 3px;
  transition: 0.3s;
}
.tab ul li:hover > a {
  background-color: #f9f9f9;
  border: 1px solid #999;
}
.tab ul li.on > a {
  color: #2562e9;
  background-color: #fff;
  border: 1px solid #2562e9;
}

.list {
  margin-top: 30px;
}

.listPhoto {
  border-top: 1px solid #2562e9;
  border-bottom: 1px solid #2562e9;
}
.listPhoto > ul > li {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.listPhoto > ul > li:last-child {
  border-bottom: none;
}
.listPhoto > ul > li > a {
  display: block;
  position: relative;
}
.listPhoto > ul > li > a .thumb {
  width: 200px;
  height: 107px;
  background-color: #ccc;
  overflow: hidden;
}
.listPhoto > ul > li > a .thumb > img {
  width: 100%;
}
.listPhoto > ul > li > a .txtArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 220px;
}
.listPhoto > ul > li > a .title {
  font-size: 18px;
  font-weight: 600;
}
.listPhoto > ul > li > a .detail {
  font-size: 14px;
  color: #747474;
  margin-top: 10px;
}
.listPhoto > ul > li > a .detail.ellHeight {
  -webkit-line-clamp: 2;
}

.listTable {
  border-top: 1px solid #0b499e;
}
.listTable tr:nth-child(2n) {
  background-color: #f1f3f5;
}
.listTable th,
.listTable td {
  border-left: 1px solid #d4d9e0;
  border-bottom: 1px solid #d4d9e0;
  text-align: center;
  padding: 15px 10px;
}
.listTable th:first-child,
.listTable td:first-child {
  border-left: none;
}
.listTable th {
  color: #2a64b4;
  font-size: 15px;
}
.listTable td a:hover {
  text-decoration: underline;
}
.listTable td.info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left:20px;
  padding-right:20px;
}
.listTable td.info dt {
  font-size: var(--mdFont);
  font-weight: 500;
} 
.listTable td.info dd > div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 10px 0;
}
.listTable td.info dd > p span{
  display: inline-block;
  color: #fff;
  background-color: #aaa;   
  border-radius: 20px;
  line-height: 1.5em;
  padding:0 10px;
  margin-right: 5px;
}

.view {
  border-top: 1px solid #0b499e;
}
.view .title {
  font-size: 20px;
  color: #0b499e;
  font-weight: 600;
  padding: 20px;
}
.view .util {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px 20px;
}
.view .util a {
  display: inline-block;
  text-decoration: underline;
  padding-left: 25px;
  margin-left: 10px;
  background: url(../images/icon-file.svg) no-repeat left center;
}
.view .util .date {
  display: inline-block;
  line-height: 16px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
}
.view .detail {
  padding: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.view .prenext {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-top: 30px;
}
.view .prenext > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 0;
}
.view .prenext > ul > li:first-child {
  border-bottom: 1px solid #ddd;
}
.view .prenext > ul > li > div {
  padding: 10px;
  width: 75%;
}
.view .prenext > ul > li > div:first-child {
  width: 10%;
  text-align: center;
  background-color: #f5f5f5;
}
.view .prenext > ul > li > div:last-child {
  width: 15%;
  text-align: right;
}

.pasing {
  margin-top: 20px;
  text-align: center;
}
.pasing ul {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pasing ul li a {
  display: inline-block;
  width: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.pasing ul li a:hover {
  color: #3662e6;
  border-color: #3662e6;
}
.pasing ul li a.on {
  color: #fff;
  background-color: #3662e6;
  border-color: #3662e6;
}
.pasing ul li.arrow {
  padding: 0 10px;
}
.pasing ul li.arrow a {
  border: none;
  width: 25px;
  letter-spacing: -4px;
}
.pasing ul li.arrow a:hover {
  color: #3662e6;
}

ul.data li {
  cursor: pointer;
}

table.data {
  width: 100%;
  border-right: 1px solid var(--databorder);
  border-top: 1px solid #0b499e;
}
table.data th,
table.data td {
  padding: 10px;
  border-left: 1px solid var(--databorder);
  border-bottom: 1px solid var(--databorder);
}
table.data tr.type td {
  color: #3b5f91;
  font-weight: 500;
  text-align: center;
  background-color: #f0f4fd;
}
table.data th {
  color: #3b5f91;
  background-color: #dfe8fc;
}
table.data td {
  text-align: right;
}
table.data td.title {
  text-align: center;
}
table.data td.title.bgf {
  background-color: #f1f9fb;
}
table.data td.bg {
  background-color: #fff4e5;
}
table.data.allCenter td {
  text-align: center;
}
table.data.allCenter td.title {
  font-weight: 600;
  background-color: #f1f9fb;
}

.graph {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.guideArea .guide-Tab {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 20px;
}
.guideArea .guide-Tab > ul {
  display: flex;
  gap: 5px;
}
.guideArea .guide-Tab > ul > li {
  width: 150px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}
.guideArea .guide-Tab > ul > li.on,
.guideArea .guide-Tab > ul > li:hover.on {
  color: #fff;
  font-weight: bold;
  background-color: #2572d8;
  border: 1px solid #2572d8;
}
.guideArea .guide-Tab > ul > li:hover {
  background-color: #f0f0f0;
  font-weight: 500;
}
.guideArea .guide-Tab .btnR > a {
  display: inline-block;
  width: 130px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-left: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.guideArea .guide-Tab .btnR > a:hover {
  background-color: #f5f5f5;
}
.guideArea .law {
  border: 1px solid #bbb;
}

.centerVision {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.centerVision span {
  display: inline-block;
  letter-spacing: -0.25rem;
}
.centerVision strong {
  display: inline-block;
  font-family: "Giants-Regular";
  color: #1465d4;
  font-size: 44px;
  letter-spacing: -0.01rem;
  vertical-align: middle;
  margin: 0 0 5px 7px;
}

.nomalDoc > h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.nomalDoc > h4 {
  position: relative;
  font-size: 19px;
  color: #3170c9;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.nomalDoc > h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #3170c9;
}
.nomalDoc dl.detail {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
}
.nomalDoc dl.detail > dt,
.nomalDoc dl.detail > dd {
  padding-bottom: 10px;
}
.nomalDoc dl.detail > dt {
  position: relative;
  width: 6%;
  font-weight: 600;
  padding-left: 6px;
}
.nomalDoc dl.detail > dd {
  width: 94%;
  padding-left: 10px;
}
.nomalDoc dl.detail > dd .olEx01 {
  padding: 0 0 0 14px;
}
.nomalDoc dl.detail > dd > ol > li {
  padding-bottom: 5px;
}
.nomalDoc dl.detail > dt::before {
  content: "\00B7";
  position: absolute;
  left: 0;
}
.nomalDoc dl.detail > dt::after {
  content: ":";
  position: absolute;
  right: 0;
}
.nomalDoc dl.detail.law {
  flex-direction: column;
}
.nomalDoc dl.detail.law dt,
.nomalDoc dl.detail.law dd {
  width: 100%;
}
.nomalDoc dl.detail.law dt {
  font-size: 17px;
}
.nomalDoc .note,
.nomalDoc .lawNote {
  margin-top: 10px;
  margin-left: 27px;
}
.nomalDoc dl.detail.law > dt::after {
  display: none;
}
.nomalDoc .stepArea {
  display: flex;
  margin-bottom: 10px;
}
.nomalDoc .stepArea .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  font-size: 20px;
  color: #fff;
  background-color: #006cc5;
  border-radius: 10px 0 0 10px;
}
.nomalDoc .stepArea .title p {
  text-align: center;
  font-family: "Giants-Regular";
}
.nomalDoc .stepArea .title p strong {
  display: block;
  font-family: "Giants-Bold";
  font-size: 40px;
}
.nomalDoc .stepArea .info {
  flex: 1;
  padding: 15px 30px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 10px 10px 0;
}
.nomalDoc .stepArea .info > h6 {
  font-size: 19px;
  color: #006cc5;
  margin-bottom: 10px;
}
.nomalDoc .stepArea .info > p {
  padding: 2px 0;
}
.nomalDoc .stepArea .info strong {
  display: inline-block;
}
.nomalDoc .stepArea .info > p strong::after {
  content: ":";
  margin: 0 8px 0 5px;
}
.nomalDoc .stepArea .info > p strong::before {
  content: "\00B7";
  margin: 0 5px;
}

.tel {
  display: flex;
  width: 100%;
  background-color: #efefef;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 30px;
}
.tel dt,
.tel dd {
  padding: 20px 30px;
  align-self: center;
}
.tel dt {
  width: 30%;
  font-weight: 600;
  text-align: center;
}
.tel dd {
  flex: 1;
  background-color: #fff;
  border-left: 1px solid #999;
}

.index {
  counter-reset: index;
}
.index > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.index > li:last-child {
  margin-bottom: 0;
}
.index > li::before {
  counter-increment: index 1;
  content: counter(index) ".";
  position: absolute;
  left: 0;
  top: 3px;
  font-weight: bold;
}

.btnArea {
  text-align: right;
  padding-top: 20px;
}

footer {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
footer .inner .bottomMenu > ul {
  display: flex;
  justify-content: center;
}
footer .inner .bottomMenu > ul > li {
  line-height: 16px;
  padding: 0 25px;
  border-left: 1px solid #dadada;
}
footer .inner .bottomMenu > ul > li:first-child {
  border-left: none;
}
footer .inner .bottomMenu > p {
  font-size: 14px;
  color: #999;
  text-align: center;
  letter-spacing: 0;
  padding: 15px 20px;
}
footer .inner .bottomMenu > p > span {
  color: #747474;
  font-weight: 500;
  letter-spacing: -0.05rem;
}
footer .inner .bottomLink a:first-child img {
  margin-right: 10px;
}

/*공통*/
img.mob {
  display: none;
}
img.file {
  width: 20px;
}
.gap {
  border: none;
  height: 40px;
}
.gapShort {
  border: none;
  height: 10px;
}
.flexDual {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.taLeft,
.tl {
  text-align: left !important;
}
.taRight,
.tr {
  text-align: right !important;
}

.dlBtm {
  margin-top: 20px;
}
.mgt5 {
  margin-top: 5px;
}
.mgt40 {
  margin-top: 40px;
}
.mgRight {
  margin-right: 10px;
}
.mgTop {
  margin-top: 20px;
}
.mgBottom {
  margin-bottom: 20px;
}
/*버튼 Button*/
.smallBtn {
  position: relative;
  display: inline-block;
  padding: 3px 15px;
  border: 1px solid #999;
  border-radius: 3px;
  transition: 0.3s;
}
.bigBtn {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 20px 40px;
  background-color: #2562e9;
  border-radius: 3px;
  transition: 0.3s;
}
.bnDown {
  color: #fff;
  background-color: #00acac;
  border-color: #007272;
}
.bnDown:hover {
  background-color: #007272;
}
.bnDown::after {
  content: "\22BB";
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}
.bnLink {
  color: #fff;
  background-color: #636ed1;
  border-color: #3d4abd;
}
.bnLink:hover {
  background-color: #3d4abd;
}
.bnLink::after {
  content: "\203A";
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  margin-top: 1px;
  margin-left: 10px;
}
.bnList {
  color: #fff;
  background-color: #fd5252;
  border: none;
}
.bnList:hover {
  background-color: #c92828;
}
.bnList::after {
  content: "\2261";
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .subTop {
    padding-top: 60px;
  }
  .subTop > div {
    height: 200px;
  }
  .subTop > div > div p.subTitle {
    font-size: 35px;
  }
  .subTop > div > div p.subText {
    font-size: 18px;
  }

  .wrapper {
    width: 100%;
    margin-top: 0;
  }

  .secMenu {
    display: none;
  }

  .pageTitle {
    font-size: 20px;
    color: #2562e9;
    padding: 15px 10px;
    margin-top: 0;
    margin-bottom: 30px;
    border-bottom: 5px solid #e5e5e5;
  }

  .container {
    font-size: 13px;
    padding: 0;
    margin-top: 20px;
  }

  .listTable th {
    font-size: 13px;
  }
  .listTable td.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left:20px;
    padding-right:20px;
  }

  .pasing ul li.arrow {
    padding: 0;
    font-size: 15px;
  }

  .secTitle {
    font-size: 19px;
  }
  .secTitle .smBox {
    font-size: 13px;
  }

  .tab ul li > a {
    font-size: 14px;
  }

  .centerVision,
  .centerVision strong {
    font-size: 18px;
    letter-spacing: -0.01rem;
  }
  .centerVision span {
    letter-spacing: -0.1rem;
  }

  .mobTable {
    width: 100%;
    overflow-x: scroll;
  }

  table.data {
    font-size: 12px;
  }
  table.data th {
    padding-left: 0;
    padding-right: 0;
  }

  .tel dt,
  .tel dd {
    padding: 20px 10px;
    align-self: center;
  }
  .tel dt {
    width: 30%;
    font-weight: 600;
    text-align: center;
  }
  .tel dd {
    flex: 1;
    background-color: #fff;
    border-left: 1px solid #999;
  }

  footer {
    font-size: 12px;
    padding: 20px 0;
    border-top: 5px solid #e5e5e5;
  }
  footer .inner {
    flex-direction: column;
    width: 100%;
  }
  footer .inner .logo {
    display: none;
  }
  footer .inner .bottomMenu > ul > li {
    line-height: 12px;
    padding: 0 5px;
  }
  footer .inner .bottomMenu > p {
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    padding: 10px 20px;
  }
  footer .inner .bottomLink {
    text-align: center;
  }

  img.web {
    display: none;
  }
  img.mob {
    display: block;
    width: 100%;
  }

  .flexDual {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gap {
    height: 20px;
  }
}