@charset "UTF-8";
@import url("reset.css");
@import url("krc_common.css");

body.active {
  position: fixed;
}

header {
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
header .header-inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
header .logo {
  width: 240px;
  padding: 23px 0 0 0;
  margin: 0;
  font-size: 10px;
}
header .moMenu {
  display: none;
}

header nav {
  width: 960px;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
  transition: height 0.3s;
}
header nav:hover {
  height: 300px;
}
header nav:hover ul.gnb > li::after,
header nav:hover ul.gnb > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #dedede;
}
header nav:hover ul.gnb > li::after {
  left: 0;
}
header nav:hover ul.gnb > li:last-child::before {
  right: 0;
}
header nav ul.gnb {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 100%;
}
header nav ul.gnb > li {
  position: relative;
  text-align: center;
  transition: 0.3s;
}
header nav ul.gnb > li:hover {
  background-color: #fafafa;
}
header nav ul.gnb > li > a {
  display: block;
  width: 160px;
  line-height: 90px;
  font-weight: 500;
  font-size: 18px;
  color: #222;
}
header nav ul.gnb > li > ul > li > a {
  display: block;
  padding: 6px 0;
  margin: 0 15px;
  font-size: 15px;
  color: #333;
  border-top: 1px solid #eee;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
/** 테스트 **/
.btnTest {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ccc;
}
.btnTest::after {
  content: "\e5d2";
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  color: red;
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  header {
    width: 100%;
    height: 60px;
  }
  header .header-inner {
    width: 100%;
  }
  header .logo {
    position: absolute;
    left: 10px;
    top: 12px;
    padding: 0;
  }
  header .logo img {
    width: 170px;
  }
  header .moMenu {
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 50px;
    height: 50px;
    z-index: 101;
  }
  header .moMenu .btnMenu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #ccc;
  }
  header .moMenu .btnMenu::before {
    content: url("../images/mo-menu.svg");
  }
  header .moMenu .btnMenu.active {
    background: url(../images/btn-close.svg) no-repeat center center;
  }

  header nav,
  header nav:hover {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100vh;
    background-color: #4366e9;
    overflow-y: auto;
    z-index: 100;
    transition: 0.3s;
  }
  header nav.active,
  header nav.active:hover {
    left: 0;
    width: 100%;
  }
  header nav ul.gnb {
    flex-direction: column;
    height: auto;
  }
  header nav ul.gnb > li {
    text-align: left;
  }
  header nav ul.gnb > li > a {
    width: 100%;
    color: #fff;
    line-height: 50px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  header nav ul.gnb > li > ul {
    margin-bottom: 10px;
  }
  header nav ul.gnb > li > ul > li > a {
    color: #fff;
    padding: 8px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  header nav ul.gnb > li > ul > li:first-child > a {
    border-top: none;
  }
}
